{% load static %}
<link rel="icon" href="{% static 'img/simbolo.svg' %}" type="image/svg+xml">
<link rel="alternate icon" href="{% static 'img/favicon.png' %}" type="image/png">
<link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">
<link rel="preload" href="{% static 'vendor/fonts/manrope.woff2' %}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{% static 'vendor/fonts/source-sans-3.woff2' %}" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/bootstrap-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/comviver.css' %}">
<script src="{% static 'js/comviver.js' %}" defer></script>
